
* {
    box-sizing: border-box;
    width: 450px;
    margin: 0px;
    padding: 5px;
  }

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 
form {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
input {
  width: 100%;
  height: 140px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #000000;
  font-size: 60px;
}
button {
  position: absolute; 
  top: 5px;
  right: 5px;
  width: 180px;
  height: 140px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 60px;
}

.diven {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.h1en {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #000000;
  font-size: 60px;
}

.h1ru {
  width: 60px;
  background: #F9F0DA;
  color: #ff0000;
  font-size: 60px;
}
.h1enPlus {
  width: 35px;
  background: #F9F0DA;
  color: #000000;
  font-size: 60px;
}
.h1enPlus2 {
  width: 70px;
  background: #F9F0DA;
  color: #000000;
  font-size: 60px;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
}

.h2ruls {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #000000;
  font-size: 30px;
}


/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */

